:root {
  --white: #fff;
  --semi-white: #d7ccc0;
  --light: #f5f4f0;
  --orange: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --semi-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-size);
  line-height: 1.6em;
  color: var(--dark);
  width: 1440px;
  margin: 0 auto;
}

.bg:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 170px;
  right: 170px;
  height: 940px;
  opacity: .9;
  z-index: 1;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-color {
  background-color: var(--light);
}

h1, h2, h3, .number {
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.text-orange {
  color: var(--orange);
}

.text-white {
  color: var(--white);
}

.content-section {
  width: 1110px;
  padding: 100px 0;
  margin: 0 auto;
  height: 914px;
}

.header {
  position: relative;
}

.header-title {
  margin-bottom: 185px;
}

.header-image {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
  z-index: 1;
}

.flex {
  display: flex;
  gap: 30px;
}

.flex-column {
  flex-direction: column;
  gap: 40px;
}

.text {
  flex: 1 1 50%;
}

.btn {
  font-weight: bold;
  background: var(--orange);
  color: var(--white);
  text-transform: uppercase;
  border: none;
  padding: 12px 24px;
  width: 148px;
  header: 49px;
}

.video-section {
  position: relative;
}

.video {
  position: absolute;
  bottom: -100px;
  left: 100px;

  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.video-section {
  text-align: center;
  height: 840px;
}

.video-desc {
  padding: 27px 0 30px;
}

a {
  text-decoration: none;
}

#navigation {
  width: 1440px;
  background: var(--main-dark);
  margin: 0 auto;
}

.navigation {
  flex-wrap: wrap;
  padding-top: 200px;
  padding-bottom: 200px;
}

.navigation-item {
  width: 350px;
  height: 323px;
  padding: 24px;
}

.second-row {
  height: 348px;
}

.navigation-header {
  font-size: 52px;
  padding: 0;
}

.number {
  font-size: 64px;
  line-height: 70px;
  color: var(--main-dark);
}

.name {
  font-size: 34px;
  line-height: 1.2em;
  margin: 40px 0 16px;
}

.desc {
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

.long-desc {
  margin: 40px 0 12px;
}
